* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#bootcamp {
	text-transform: uppercase;
}

.language-learned {
	background-color: rgb(174,213,129);
}

.tools-used {
	border: 2px;
	border-style: solid;
	border-color: blue;
}

h4 + img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul {
	list-style-type: none;
	letter-spacing: 10px;
}

ul ~ div {
	text-align: center;
}